body {background-color:#ffffff;background-image:url(https://i.postimg.cc/QCkMkLpz/wescampeople.png);background-size:cover;}
h1{text-align:center;font-family:Arial, sans-serif;color:#000000;}
h3{text-align:center;font-family:Arial, sans-serif;color:#000000;}
div {text-align:center;line-height: 1.6;font-family:Georgia, serif;font-size:16px;font-style:normal;font-weight:normal;color:#000000;}
